<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Water4EveryoneMAD</title>
    <meta name="description" content="Application that finds all the water fountains for every district in Madrid">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet">
</head>


<body>
    <div id="wrapper">
        <div class="layer">
            <div class="mask d-flex align-items-center h-100">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-5 col-md-8">
                            <form action="/busqueda" class="bg-white rounded shadow-5-strong p-5">
                                <img src="/templates/images/logo_transparent.png" class="rounded mb-4 mx-auto d-block" alt=""
                                    width="150" height="150" />
                                <div class="text-center">
                                    <h3>Select District</h3>
                                    <br>
                                </div>
                                <select class="form-select form-select-lg" onchange="location = this.value;">
                                    <option selected>Select Option</option>
                                    <option value="results.html">Arganzuela</option>
                                    <option value="results.html">Barajas</option>
                                    <option value="results.html">Carabanchel</option>
                                    <option value="results.html">Centro</option>
                                    <option value="results.html">Chamartin</option>
                                    <option value="results.html">Chamberi</option>
                                    <option value="results.html">Ciudad-Lineal</option>
                                    <option value="results.html">Fuencarral-El-Pardo</option>
                                    <option value="results.html">Hortaleza</option>
                                    <option value="results.html">Latina</option>
                                    <option value="results.html">Moncloa-Aravaca	</option>
                                    <option value="results.html">Moratalaz</option>
                                    <option value="results.html">Puente-de-Vallecas</option>
                                    <option value="results.html">Retiro</option>
                                    <option value="results.html">Salamanca</option>
                                    <option value="results.html">San-Blas</option>
                                    <option value="results.html">Tetuan</option>
                                    <option value="results.html">Usera</option>
                                    <option value="results.html">Vicalvaro</option>
                                    <option value="results.html">Villa-de-Vallecas</option>
                                    <option value="results.html">Villaverde</option>
                                </select>
                                <div class="text-center">
                                    <br>
                                    <span class="abt">blah blah bla</span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>

</html>